accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.3.0
Brotli @ file:///croot/brotli-split_1736182456865/work
certifi @ file:///croot/certifi_1745939216646/work/certifi
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
datasets==3.6.0
deepspeed==0.17.1
dill==0.3.8
einops==0.8.1
filelock @ file:///croot/filelock_1744281381737/work
frozenlist==1.7.0
fsspec==2025.3.0
gmpy2 @ file:///croot/gmpy2_1738085463648/work
hf-xet==1.1.4
hjson==3.1.0
huggingface-hub==0.33.0
idna @ file:///croot/idna_1714398848350/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.1.1
multidict==6.5.0
multiprocess==0.70.16
networkx @ file:///croot/networkx_1737039604450/work
ninja==1.11.1.4
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp311-cp311-linux_x86_64.whl#sha256=372b9067cf9c96d8662c6f20ef49eeda43f0f8d2f074820224c954d8d8fae7bc
nvidia-ml-py==12.575.51
packaging==25.0
pandas==2.3.0
peft==0.15.2
pillow @ file:///croot/pillow_1744613067434/work
propcache==0.3.2
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==20.0.0
pydantic==2.11.7
pydantic_core==2.33.2
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
regex==2024.11.6
requests @ file:///croot/requests_1730999120400/work
safetensors==0.5.3
six==1.17.0
sympy==1.13.1
tokenizers==0.21.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.52.4
triton==3.1.0
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
urllib3 @ file:///croot/urllib3_1737133630106/work
xxhash==3.5.0
yarl==1.20.1
